#sessionCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.middle-screen {
	width: 400px;
	@include center;
	margin-top: calc(#{$headerHeight} * 4);
}

#sessionCanvas:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.talentTopPanel {
	flex: 1;
	min-height: 10%;
	max-height: 10%;
	padding: 10px;
	box-shadow: 0px 1px 4px black;
}

#talentContentPanel {
	padding: 15px;
}

#designerArea {
	position: fixed;
	background-color: aliceblue;
	border-radius: 2px;
	border-color: black;
	color: #000000;
	height: 40%;
	width: 60%;
	bottom: 7%;
	left: 20%;
	z-index: 99;
}

#menuShaderDimThing {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	animation: fadein 0.33s;
	-webkit-animation: fadein 0.33s;
	z-index: 933;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background-color: rgb(255, 255, 255) !important;
	overflow: hidden;
	overflow-y: scroll;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#menuArea {
	position: fixed;
	background-color: aliceblue;
	border-radius: 2px;
	border-color: black;
	color: #000000;
	height: 60%;
	width: 34%;
	bottom: 20%;
	left: 33%;
	z-index: 999;
}

.dg.ac {
	z-index: 2;
}

#visualArea {
	position: fixed;
	background-color: #000000;
	border-radius: 2px;
	border-color: rgb(197, 197, 197);
	color: #e2e2e2;
	height: 100%;
	width: 100%;
	//z-index: 2;
}

#visualCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#background-renderer {
	z-index: -1;
}

.fixed {
	position: fixed;
}

.full-height {
	height: 100%;
}

#authentication {
	width: 100vw;
	height: 100vh;
}

#contentWrapper {
	overflow-y: scroll;
	margin-top: $headerHeight;
	@include height;
	float: right;
	width: calc(80vw - #{$headerHeight});
	margin-right: $headerHeight;
	display: flex;
	position: relative;
}

.flex-display {
	display: flex;
}

.transparent-bg {
	background-color: transparent !important;
}

#session {
	width: 100vw;
	background-color: transparent !important;
}

#sessionCanvas {
	position: absolute;
	height: 100% !important;
	width: 100% !important;
}

#3DGraphics {
	position: absolute;
	height: 100% !important;
	width: 100% !important;
}

.userInterface {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#bottomBar {
	position: relative;
	width: 285px;
	margin: auto;
}

.toggleGridBtn {
	position: fixed;
	left: 0px;
	top: 0px;
}

.newThing {
	position: absolute;
	width: 12px;
	height: 24px;
	margin-top: -16px;
	margin-left: 26px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	border-radius: 3px;
}

.hideScroll {
	width: calc(100% + 15);
	height: calc(100% - 42px);
	overflow-y: auto;
}

::-webkit-scrollbar {
	display: none;
}

.periodicElement {
	position: absolute;
	width: calc(100% / 18);
	height: 10%;
	box-shadow: 0px 0px 12px rgba(34, 170, 248, 0.5);
	border: 1px solid rgba(127, 255, 255, 0.25);
	text-align: center;
	cursor: default;

	.periodicSymbol {
		position: absolute;
		top: 10px;
		left: 0px;
		right: 0px;
		font-size: 24px;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.75);
		text-shadow: 0 0 10px rgba(32, 212, 212, 0.726);
	}

	.periodicNumber {
		position: absolute;
		top: 0px;
		left: 2px;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.75);
		text-shadow: 0 0 10px rgba(32, 212, 212, 0.726);
	}

	.periodicMass {
		position: absolute;
		top: 38px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: rgba(255, 255, 255, 0.75);
	}

	.resourceAmount {
		position: absolute;
		top: 52px;
		left: 0px;
		right: 0px;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.75);
	}
}

.periodicElement:hover {
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
	border: 1px solid rgba(127, 255, 255, 0.75);
}

.dnd-list-area {
	position: relative;
	z-index: 2222;
	width: 50px;
	max-width: 93.5px;
	height: 50px;
	background: #666;
	border: 1px #333 solid;
	border-radius: 5px;
	margin: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	user-select: none;
	flex: 0 0 10%;
	min-height: 99.1%;
	overflow: hidden;
}

.dnd-test-area {
	position: relative;
	z-index: 2222;
	width: 85px;
	height: 85px;
	border-radius: 5px;
	margin: 3px;
	user-select: none;

	&.--selection {
		background: rgb(185, 185, 185);
		text-align: center;
	}

	&.--drop {
		background: #666;
		min-height: 99.1%;
		text-align: center;
		flex: 1;
	}

	.layer {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.55;
		padding: 37px 0px 0px;
		color: #fff;
	}

	.invalid {
		background-color: rgba(100, 13, 47, 0.404);
	}

	.valid {
		background-color: rgba(36, 230, 220, 0.568);
	}

	.yellow {
		border: 1px yellow solid;
		background-color: yellow;
		color: #000;
	}
	.red {
		border: 1px red solid;
		background-color: red;
	}
	.blue {
		border: 1px lightblue solid;
		background-color: lightblue;
	}
}

#molecule-builder {
	position: relative;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	height: -webkit-fill-available;
}

.item {
	position: absolute;
	z-index: 3;
	width: 85px;
	height: 85px;
	line-height: 1;
	font-size: 18px;

	&.dragging {
		opacity: 0.5;
	}

	.item-layer {
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		border-radius: 50%;
	}

	.item-name {
		display: flex;
		color: #aaa;
		justify-content: center;
		align-items: center;

		span {
			overflow: visible;
			white-space: nowrap;
		}
	}

	&.highlight-selection {
		box-shadow: #186c9d 0px 0px 9px 8px;
		border-radius: 50%;
	}

	.item-count {
		display: flex;
		color: #eee;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.resourceElementsContainer {
	position: absolute;
	width: 70%;
	height: 80%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	top: 5%;
	left: 0;
	z-index: 98;
}

.locationContainer {
	position: absolute;
	width: 40%;
	height: 20%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	left: 10%;
}

.item-context-menu {
	position: absolute;
	width: 200px;
	border-style: solid;
	border-width: 3px;
	top: 20px;
	left: 40px;
	background-color: rgb(141, 114, 114);
	z-index: 99999;

	.context-menu-slice {
		flex: 1;
		position: relative;
		width: 100%;
		background-color: rgb(211, 228, 243);
		color: #000;
		font-size: 16px;
	}

	.context-menu-slice:hover {
		background-color: rgb(134, 174, 209);
		cursor: pointer;
	}
}

#assembler-button-bar {
	position: absolute;
	z-index: 2223;
	left: 12%;
	top: 1.4%;

	.selected-mode {
		background-color: rgb(9, 85, 146) !important;
		color: white !important;
	}

	.selected-mode:hover {
		color: white !important;
	}
}

.buildingsContainer {
	position: absolute;
	width: 30%;
	height: 40%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	right: 0;
	top: 20%;
	z-index: 99;
}

.levelsContainer {
	position: absolute;
	width: 20%;
	height: 20%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	top: 0%;
	right: 0%;
}

.craftingContainer {
	position: absolute;
	width: 70%;
	height: 70%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	bottom: 15%;
	//left: 15%;
	right: 5%;
	z-index: 101;
}

.researchContainer {
	position: absolute;
	width: 30%;
	height: 30%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	bottom: 10%;
	right: 0;
}

.statsContainer {
	position: absolute;
	width: 10%;
	height: 15%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	bottom: 0;
	left: 0;
}

.talentsContainer {
	position: absolute;
	width: 60%;
	height: 60%;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(92, 137, 137, 0.9);
	bottom: 20%;
	left: 20%;
	z-index: 100;
}

.object-tooltip {
	position: absolute;
	background: rgba(0, 0, 0, 0.9);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 4px 8px;
	color: #eee;
	z-index: 64500;
	width: auto;
	min-width: 100px;
	max-width: 325px;
	border-radius: 3px;

	.name {
		font-size: 120%;
		color: cyan;
	}

	.description {
		font-size: 120%;
		color: cyan;
	}

	.cost {
		font-size: 120%;
		color: white;
	}

	.time {
		font-size: 120%;
		color: mediumorchid;
	}
}

#onlinePlayersHeader {
	position: relative;
	background: gray;
	color: white;
	width: 10%;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}
